.jumbotron {
    background-color: black;
    color: whitesmoke;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: black;
    color: whitesmoke;
    margin-bottom: 0px;
    margin-top: 10px;
}


.card-product {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    background-color: darkslategray;
    color: whitesmoke;
}

.btn-comprar {
    width:100%;
}

.footer-address-icon {
    padding-right: 10px;
}